.site-header {
  /* background: url(../../img/blogs/hero.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.post-image,
.post-list blockquote,
.post-video {
  margin-bottom: 1.875rem
}

.post-image-cover {
  position: relative;
  padding-top: 70%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat
}

.post-content p {
  text-align: justify;
}

.post-content blockquote p {
  text-align: center;
}

.post-content p cite {
  display: block;
  text-align: center;
}

.post-content p cite::before {
  content: "~ ";
}