@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,600&display=swap');

:root {
  /* 
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --font-family-nunito-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
*/
  /* Override Variables */
  --font-family-nunito-sans: 'Nunito Sans', sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --gray-dark: #404040;
  --purple: #533777;

  /* Page Variables */
  --tango: #f47829;
  --ghost: #ccd1d8;
  --black: #000000;
  --gray: #929292;
  --light-blue: #e1f7f5;
  --light-purple: #c290d2;
  --font-family-serif: 'Nunito Sans', serif;
  --color-text: var(--gray-dark);
  --font-family-text: var(--font-family-serif);
}

.family-sans {
  font-family: var(--font-family-nunito-sans);
}

.animated {
  visibility: visible !important;
}

body {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-weight: 200;
}

.site-header {
  background: url(https://dummyimage.com/16:9x400/6.png&text=+);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-header .animated {
  animation-delay: 0.5s;
  animation-duration: 1s;
}

.site-header img {
  height: 200px;
}

.layout-text {
  font-size: 0.875em;
  font-weight: 400;
}

.site-nav.inbody {
  background: var(--secondary);
}

.site-nav .navbar-nav .nav-link.active,
.site-nav .navbar-nav .nav-link:hover {
  color: var(--dark) !important;
}

@media screen and (max-width: 768px) {
  .site-nav .navbar-collapse {
    /* background-color: var(--black); */
    padding: 10px;
  }
  
  .site-nav .nav-link {
    color: var(--gray) !important;
  }
}

.site-header .layout-hero {
  min-height: 50vh;
}

.site-header .page-section-title {
  font-size: 3em;
  font-family: var(--font-family-nunito-sans);
  font-weight: 200;
}

.site-header .page-section-text {
  font-size: 1.2em;
}

.site-nav .nav-link {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 2px;
}

.site-nav .nav-link:before {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--tango);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-out;
}

.site-nav .nav-link:hover:before {
  visibility: visible;
  left: 0;
  transform: scaleX(1);
}

.layout-gallery .layout-image {
  transition: all 0.3s ease-out;
}

.layout-gallery .layout-image:hover {
  transform: scale(1.1) translateY(-3px);
}

.page-section-header .page-section-title {
  font-size: 2.5em;
  font-family: var(--font-family-nunito-sans);
  font-weight: 400;
}

.page-section-header .page-section-text {
  font-size: 1.5em;
  font-weight: 200;
}

.layout-title {
  font-family: var(--font-family-nunito-sans);
  font-size: 1.5em;
}

.layout-social .layout-icon {
  font-size: 2em;
  border-radius: 10%;
}

.layout-social .layout-icon:hover {
  color: var(--black);
}

/* Color overrides */

.bg-secondary {
  background-color: var(--gray) !important;
}

.bg-dark {
  background-color: var(--black) !important;
}

.btn-dark {
  background-color: var(--black);
  border-color: var(--black);
}

.navbar-toggler {
  border-color: var(--white) !important;
  font-weight: 600 !important;
}

.navbar-toggler:focus {
  outline-color: var(--black) !important;
}

.site-nav .nav-link {
  font-weight: 600;
  color: var(--gray);
}

.navbar-brand {
  font-weight: 700;
  text-transform: capitalize;
}

.navbar-brand img,
.site-footer img {
  height: 50px;
}

.text-tango {
  color: var(--tango)
}

.btn-tango {
  background-color: var(--tango);
  color: var(--white);
}

.border-tango {
  border-color: var(--tango) !important;
  border: 1px solid;;
}