@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;800;900&display=swap');

:root {
  /* 
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --font-family-nunito-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
*/
  /* Override Variables */
  --font-family-nunito-sans: 'Nunito Sans', sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --gray-dark: #404040;
  --purple: #533777;

  /* Page Variables */
  --tango: #ec7727;
  --old-lace: #fcefe8;
  --ghost: #ccd1d8;
  --black: #000000;
  --gray: #929292;
  --light-blue: #e1f7f5;
  --light-purple: #c290d2;
  --mine-shaft: #353535;
  --nevada: #717274;
  --font-family-serif: 'Nunito Sans', serif;
  --color-text: var(--gray-dark);
  --font-family-text: var(--font-family-serif);
}

.family-sans {
  font-family: var(--font-family-nunito-sans);
}

.animated {
  visibility: visible !important;
}

body {
  font-family: var(--font-family-text);
  color: var(--color-text);
  font-weight: 200;
}

.site-header {
  background: url(../../img/landing/hero3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.site-header:after {
  content:" ";
  background-color:rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.site-header .animated {
  animation-delay: 0.5s;
  animation-duration: 1s;
}

.site-header img {
  height: 200px;
}

.site-header .banner-title {
  font-weight: 900;
  font-size: 3.375rem;
}

.layout-text {
  font-size: 0.875em;
  font-weight: 400;
}

.site-nav.inbody {
  background: var(--secondary);
}

.site-nav .navbar-nav .nav-link.active,
.site-nav .navbar-nav .nav-link:hover {
  color: var(--mine-shaft) !important;
}

#page-subscribe {
  background: url(../../img/landing/subscribe-3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-subscribe {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.vertical-padding {
  margin: 4.688rem 0;
}

.mb-25 {
  margin-bottom: 1.563rem;
}

#page-blogs .card .card-img-top {
  height: 280px;
}

#page-blogs .card-title {
  font-size: 1.125rem;
}

@media screen and (max-width: 768px) {
  .site-nav .navbar-collapse {
    /* background-color: var(--black); */
    padding: 10px;
  }

  .site-nav .nav-link {
    color: var(--gray) !important;
  }
}

.site-header .layout-hero {
  min-height: 50vh;
}

.site-header .layout-hero .container {
  z-index: 1;
}

.site-header .page-section-title {
  font-size: 3em;
  font-family: var(--font-family-nunito-sans);
  font-weight: 200;
}

.site-header .page-section-text {
  font-size: 1.2em;
}

.site-nav .nav-link {
  position: relative;
  padding-bottom: 0;
  margin-bottom: 2px;
}

.site-nav .nav-link:before {
  content: '';
  position: absolute;
  width: 100%;
  max-width: 100px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--tango);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-out;
}

.site-nav .nav-link:hover:before {
  visibility: visible;
  left: 0;
  transform: scaleX(1);
}

.layout-gallery .layout-image {
  transition: all 0.3s ease-out;
}

.layout-gallery .layout-image:hover {
  transform: scale(1.1) translateY(-3px);
}

.page-section-header .page-section-title {
  font-size: 2rem;
  font-family: var(--font-family-nunito-sans);
  font-weight: 400;
  color: var(--mine-shaft);
}

.page-section-header .page-section-text {
  font-size: 1.25rem;
  font-weight: 200;
  text-align: center;
}

.layout-title {
  font-family: var(--font-family-nunito-sans);
  font-size: 1.125rem;
  color: var(--nevada);
  text-transform: uppercase;
}

/* .layout-social .layout-icon {
  font-size: 2em;
  border-radius: 10%;
}

.layout-social .layout-icon:hover {
  color: var(--white);
} */

.layout-social .layout-icon img {
  height: 25px;
}

.view-more {
  font-size: 1rem;
  text-transform: uppercase;
}

/* footer,
footer .list-group-item {
  background-color: var(--mine-shaft);
} */

/* footer .nav-link {
  font-size: 0.75rem !important;
} */

/* Color overrides */

.bg-secondary {
  background-color: var(--gray) !important;
}

.bg-dark {
  background-color: var(--black) !important;
}

.bg-tango-light {
  background-color: var(--old-lace) !important;
}

.bg-tango {
  background-color: var(--tango) !important;
}

.btn-dark {
  background-color: var(--black);
  border-color: var(--black);
}

.navbar-toggler {
  border-color: var(--white) !important;
  font-weight: 600 !important;
}

.navbar-toggler:focus {
  outline: none;
  /* outline-color: var(--black) !important; */
}

.site-nav .nav-link {
  font-weight: 600;
  color: var(--gray);
  font-size: 1.125rem;
}

.navbar-brand {
  font-weight: 700;
  text-transform: capitalize;
}

.navbar-brand img,
.site-footer img {
  height: 50px;
}

.text-tango {
  color: var(--tango)
}

.text-tango:hover {
  color: var(--black)
}

.btn-tango {
  background-color: var(--tango);
  color: var(--white);
}

.btn-outline-tango {
  background-color: var(--white);
  border-color: var(--tango);
}

.border-tango {
  border-color: var(--tango) !important;
  border: 1px solid;
}

.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: none;
  z-index: 5;
  opacity: 1 !important;
}

.back-to-top img {
  height: 40px;
  width: 40px;
}

.back-to-top:focus {
  box-shadow: none;
}

.form-control:focus,
.btn-tango:hover,
.btn-tango:focus {
  border-color: var(--tango) !important;
  box-shadow: 0 0 0 0.2rem rgba(236, 119, 39, .25) !important;
}

input[type="email"]::-webkit-input-placeholder {
  /* Edge */
  font-style: italic;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--mine-shaft) !important;
}

input[type="email"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-style: italic;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--mine-shaft) !important;
}

input[type="email"]::placeholder {
  font-style: italic;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--mine-shaft) !important;
}

.subscribe-title {
  font-size: 1.625rem;
}

.form-control,
.btn {
  border-radius: 0 !important;
}

.podcast-title {
  color: var(--mine-shaft);
}

.btn-view-more {
  font-size: 0.875rem;
}

.btn-icon {
  width: 34px;
  height: 34px;
  padding: 0;
  /* border: none; */
  line-height: 28px;
  text-align: center;
  font-size: 14px;
}

.btn-circle {
  -webkit-border-radius: 200px;
  border-radius: 200px !important;
}

.glider-next,
.glider-prev {
  border: 1px solid var(--tango);
}

.glider-dot {
  border: 0;
}

.glider-dot {
  opacity: 0.5;
}

.glider-dot:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(236, 119, 39, .25) !important;
}

.glider-dot.active 
{
  opacity: 1;
  background-color: var(--tango);
}

.glider-next,
.glider-prev {
  top: 50%;
}

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
     height: 0;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {
  .embed-responsive-4by3::before {
    padding-top: 55%;
  }

  .embed-responsive-1by1::before {
    padding-top: 55%;
  }
} */

@media (max-width: 575.98px) {
  .mb-30 {
    margin-bottom: 30px !important;
  }

  .view-more {
    font-size: 0.75rem;
  }

  .layout-title {
    font-size: 1rem;
  }
}

/* // Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) and (max-width: 767.98px) {
  .embed-responsive-4by3::before {
    padding-top: 50%;
  }

  .embed-responsive-1by1::before {
    padding-top: 50%;
  }
} */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991.98px) {
  .embed-responsive-4by3::before {
    padding-top: 35%;
  }

  .embed-responsive-1by1::before {
    padding-top: 35%;
  }
} */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) and (max-width: 1199.98px) {
  .embed-responsive-1by1::before {
    padding-top: 77%;
  }
} */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  .embed-responsive-4by3::before {
    padding-top: 58%;
  }

  .embed-responsive-1by1::before {
    padding-top: 58%;
  }
} */